.container{
    display: flex;
}

.input{
    padding: 1%;
    margin-right: 1%;
}

.start{
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 2%;
}

.Button{
    padding: 1%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 0.5%;
    background-color: rgb(161, 255, 47);
    color: black;
}

.code{
    padding-bottom: 2%;
    padding-left: 2%;
}

.forecast{
    padding: 2%;
}

.date_picker{
    padding-left: 2%;
}

.heading{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 2%;
    color: rgb(236, 213, 213);
    padding-bottom: 2%;
}

.nav {
    width:40%;
    background-color: darkcyan;
}

.content{
    width: 60%;
}

.header{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2%;
}
  
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
